<?xml version="1.0" encoding="utf-8"?>

<!--
  Pour plus d'informations sur la configuration de votre application ASP.NET, consultez
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="stConnectionString" connectionString="Data Source=COMPAQ-PC;Initial Catalog=st;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="asp1ConnectionString" connectionString="Data Source=COMPAQ-PC;Initial Catalog=asp1;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebService1Soap" />
                <binding name="WebService1Soap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49159/Service%20Web/WebService1.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebService1Soap"
                contract="ServiceReference1.WebService1Soap" name="WebService1Soap" />
            <endpoint address="http://localhost:49159/Service%20Web/WebService1.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebService1Soap1"
                contract="NotreService.WebService1Soap" name="WebService1Soap1" />
        </client>
    </system.serviceModel>
</configuration>
